<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.word.dao.WordMapper"> 
	<!-- 단어 추가 -->
	<insert id="appendWord" parameterType="Word">
		INSERT INTO japanword
		(seq, word, mean)
		VALUES
		(japanword_seq.nextval, #{word}, #{mean})
	</insert>
	
	<!-- 전체 목록 조회 -->
	<select id="listWord" resultType="Word">
		SELECT * FROM japanword
	</select>
	
	<!-- 단어 찾기 -->
	<select id="findByWord" parameterType="string" resultType="Word">
		SELECT * FROM japanword
		WHERE word=#{word}
	</select>
	
	<!-- 단어 삭제 -->
	<delete id="deleteWord" >
		DELETE japanword
		WHERE
			seq = #{seq}
	</delete>
	
	<!-- 단어 수정 -->
	<update id="updateWord" parameterType="Word">
		UPDATE japanword
		SET
			word = #{word},
			mean = #{mean},
			memorize = #{memorize}
		WHERE
			seq = #{seq}
	</update>
</mapper>
