<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.dao.BoardMapper">

	<select id="getCount" resultType="int">
		SELECT count(*) FROM Board
	</select>
	
	<select id="adminlistBoard" resultType="Board">
		select *
		from Board
		</select>
		
		<select id="listBoard" resultType="Board" parameterType="String">
		select *
		from Board
		where teamnum = #{teamnum}
		</select>
		
		<insert id="weiterBoard" parameterType="Board">
			INSERT INTO Board
			(b_num,b_title,b_content,usrid,teamnum)
			VALUES
			(b_num_seq.nextval,#{b_title},#{b_content},#{usrid},#{teamnum})
		</insert>
		
		<select id="readBoard" resultType="Board" parameterType="String">
		select *
		from Board 
		where b_num = #{b_num}
		</select>
		
		<delete id="deletBoard" parameterType="String">
		DELETE
		Board
		where b_num = #{b_num}
		</delete>
		
		<select id="beBoard" resultType="Board" parameterType="String">
		select *
		from Board 
		where b_num = #{b_num}
		</select>
		
		<select id="searchBoard" parameterType="map" resultType="Board">
		SELECT *
		FROM board
		WHERE
		<choose>
			<when test="searchItem == 'usrid'">usrid</when>
			<when test="searchItem == 'b_title'">b_title</when>
			<when test="searchItem == 'b_content'">b_content</when>
		</choose>
		LIKE '%'||#{searchWord}||'%'
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET
		b_title=#{b_title}, b_content=#{b_content}
		WHERE b_num = #{b_num}
	</update>
	
		
		
		
		

</mapper>